In [1]:
import numpy as np
import pandas as pd
import copy
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data = pd.read_csv("C:/Users/jananii/OneDrive - Nokia/ML/Telecom Churn/Data/Telecom_customer churn.csv")

In [3]:
data.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,...,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,...,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,...,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,...,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,...,0.0,I,U,U,U,U,U,Y,434.0,1000005

In [4]:
data.describe(include = [np.number])

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,models,truck,rv,lor,adults,income,numbcars,forgntvl,eqpdays,Customer_ID
count,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99109.000000,...,99999.000000,98268.000000,98268.000000,69810.000000,76981.000000,74564.000000,50634.000000,98268.000000,99999.000000,1.000000e+05
mean,58.719985,513.559937,46.179136,0.888828,41.072247,13.559560,13.295062,0.261318,1.286405,-13.933818,...,1.545825,0.188820,0.082580,6.177238,2.530326,5.783112,1.567563,0.057974,391.932309,1.050000e+06
std,46.291677,525.168140,23.623489,2.177619,97.296150,30.500885,30.056089,3.126531,14.711374,276.087509,...,0.898395,0.391368,0.275248,4.735267,1.452819,2.182132,0.625456,0.233696,256.482193,2.886766e+04
min,-6.167500,0.000000,-26.915000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3875.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,-5.000000,1.000001e+06
25%,33.260000,150.750000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-87.000000,...,1.000000,0.000000,0.000000,2.000000,1.000000,4.000000,1.000000,0.000000,212.000000,1.025001e+06
50%,48.195000,355.500000,44.990000,0.247500,2.750000,1.000000,0.682500,0.000000,0.000000,-6.250000,...,1.000000,0.000000,0.000000,5.000000,2.000000,6.000000,1.000000,0.000000,342.000000,1.050000e+06
75%,70.750000,703.000000,59.990000,0.990000,42.000000,14.437500,14.025000,0.000000,0.235000,63.000000,...,2.000000,0.000000,0.000000,9.000000,3.000000,7.000000,2.000000,0.000000,530.000000,1.075000e+06
max,3843.262500,12206.750000,409.990000,159.390000,4320.750000,1102.400000,896.087500,423.540000,3685.200000,31219.250000,...,16.000000,1.000000,1.000000,15.000000,6.000000,9.000000,3.000000,1.000000,1823.000000,1.100000e+06

In [5]:
col = list (data.describe(include = [np.number]))
print (col)

['rev_Mean', 'mou_Mean', 'totmrc_Mean', 'da_Mean', 'ovrmou_Mean', 'ovrrev_Mean', 'vceovr_Mean', 'datovr_Mean', 'roam_Mean', 'change_mou', 'change_rev', 'drop_vce_Mean', 'drop_dat_Mean', 'blck_vce_Mean', 'blck_dat_Mean', 'unan_vce_Mean', 'unan_dat_Mean', 'plcd_vce_Mean', 'plcd_dat_Mean', 'recv_vce_Mean', 'recv_sms_Mean', 'comp_vce_Mean', 'comp_dat_Mean', 'custcare_Mean', 'ccrndmou_Mean', 'cc_mou_Mean', 'inonemin_Mean', 'threeway_Mean', 'mou_cvce_Mean', 'mou_cdat_Mean', 'mou_rvce_Mean', 'owylis_vce_Mean', 'mouowylisv_Mean', 'iwylis_vce_Mean', 'mouiwylisv_Mean', 'peak_vce_Mean', 'peak_dat_Mean', 'mou_peav_Mean', 'mou_pead_Mean', 'opk_vce_Mean', 'opk_dat_Mean', 'mou_opkv_Mean', 'mou_opkd_Mean', 'drop_blk_Mean', 'attempt_Mean', 'complete_Mean', 'callfwdv_Mean', 'callwait_Mean', 'churn', 'months', 'uniqsubs', 'actvsubs', 'totcalls', 'totmou', 'totrev', 'adjrev', 'adjmou', 'adjqty', 'avgrev', 'avgmou', 'avgqty', 'avg3mou', 'avg3qty', 'avg3rev', 'avg6mou', 'avg6qty', 'avg6rev', 'hnd_price', 'phones', 'models', 'truck', 'rv', 'lor', 'adults', 'income', 'numbcars', 'forgntvl', 'eqpdays', 'Customer_ID']

In [6]:
for i in col:
    #iterating to all coloumns
   data.loc[pd.isnull(data[i]),i] = np.mean(data[i])

In [7]:
data.describe(include = [np.number])

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,models,truck,rv,lor,adults,income,numbcars,forgntvl,eqpdays,Customer_ID
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05
mean,58.719985,513.559937,46.179136,0.888828,41.072247,13.559560,13.295062,0.261318,1.286405,-13.933818,...,1.545825,0.188820,0.082580,6.177238,2.530326,5.783112,1.567563,0.057974,391.932309,1.050000e+06
std,46.208972,524.229868,23.581283,2.173729,97.122320,30.446392,30.002391,3.120946,14.685090,274.854774,...,0.898391,0.387964,0.272854,3.956420,1.274685,1.884277,0.445057,0.231663,256.480910,2.886766e+04
min,-6.167500,0.000000,-26.915000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3875.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,-5.000000,1.000001e+06
25%,33.311875,151.500000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-86.000000,...,1.000000,0.000000,0.000000,3.000000,2.000000,5.000000,1.000000,0.000000,212.000000,1.025001e+06
50%,48.377500,357.500000,44.990000,0.247500,3.000000,1.050000,0.700000,0.000000,0.000000,-7.000000,...,1.000000,0.000000,0.000000,6.177238,2.530326,5.783112,1.567563,0.000000,342.000000,1.050000e+06
75%,70.630000,701.250000,59.990000,0.888828,42.000000,14.350000,13.950000,0.000000,0.257500,61.750000,...,2.000000,0.000000,0.000000,7.000000,3.000000,7.000000,2.000000,0.000000,530.000000,1.075000e+06
max,3843.262500,12206.750000,409.990000,159.390000,4320.750000,1102.400000,896.087500,423.540000,3685.200000,31219.250000,...,16.000000,1.000000,1.000000,15.000000,6.000000,9.000000,3.000000,1.000000,1823.000000,1.100000e+06

In [8]:
data.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,...,0.0,N,U,U,U,U,U,Y,361.0,1000001.0
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,...,0.0,Z,U,U,U,U,U,Y,240.0,1000002.0
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,...,0.0,N,U,Y,U,U,U,Y,1504.0,1000003.0
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,...,0.0,U,Y,U,U,U,U,Y,1812.0,1000004.0
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,...,0.0,I,U,U,U,U,U,Y,434.0,1000005.0

In [9]:
data.describe()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,models,truck,rv,lor,adults,income,numbcars,forgntvl,eqpdays,Customer_ID
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05
mean,58.719985,513.559937,46.179136,0.888828,41.072247,13.559560,13.295062,0.261318,1.286405,-13.933818,...,1.545825,0.188820,0.082580,6.177238,2.530326,5.783112,1.567563,0.057974,391.932309,1.050000e+06
std,46.208972,524.229868,23.581283,2.173729,97.122320,30.446392,30.002391,3.120946,14.685090,274.854774,...,0.898391,0.387964,0.272854,3.956420,1.274685,1.884277,0.445057,0.231663,256.480910,2.886766e+04
min,-6.167500,0.000000,-26.915000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3875.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,-5.000000,1.000001e+06
25%,33.311875,151.500000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-86.000000,...,1.000000,0.000000,0.000000,3.000000,2.000000,5.000000,1.000000,0.000000,212.000000,1.025001e+06
50%,48.377500,357.500000,44.990000,0.247500,3.000000,1.050000,0.700000,0.000000,0.000000,-7.000000,...,1.000000,0.000000,0.000000,6.177238,2.530326,5.783112,1.567563,0.000000,342.000000,1.050000e+06
75%,70.630000,701.250000,59.990000,0.888828,42.000000,14.350000,13.950000,0.000000,0.257500,61.750000,...,2.000000,0.000000,0.000000,7.000000,3.000000,7.000000,2.000000,0.000000,530.000000,1.075000e+06
max,3843.262500,12206.750000,409.990000,159.390000,4320.750000,1102.400000,896.087500,423.540000,3685.200000,31219.250000,...,16.000000,1.000000,1.000000,15.000000,6.000000,9.000000,3.000000,1.000000,1823.000000,1.100000e+06

In [10]:
print(data.isnull().sum())

rev_Mean                0
mou_Mean                0
totmrc_Mean             0
da_Mean                 0
ovrmou_Mean             0
ovrrev_Mean             0
vceovr_Mean             0
datovr_Mean             0
roam_Mean               0
change_mou              0
change_rev              0
drop_vce_Mean           0
drop_dat_Mean           0
blck_vce_Mean           0
blck_dat_Mean           0
unan_vce_Mean           0
unan_dat_Mean           0
plcd_vce_Mean           0
plcd_dat_Mean           0
recv_vce_Mean           0
recv_sms_Mean           0
comp_vce_Mean           0
comp_dat_Mean           0
custcare_Mean           0
ccrndmou_Mean           0
cc_mou_Mean             0
inonemin_Mean           0
threeway_Mean           0
mou_cvce_Mean           0
mou_cdat_Mean           0
                    ...
prizm_social_one     7388
area                   40
dualband                1
refurb_new              1
hnd_price               0
phones                  0
models                  0
hnd_webcap          10189
truck                   0
rv                      0
ownrent             33706
lor                     0
dwlltype            31909
marital              1732
adults                  0
infobase            22079
income                  0
numbcars                0
HHstatin            37923
dwllsize            38308
forgntvl                0
ethnic               1732
kid0_2               1732
kid3_5               1732
kid6_10              1732
kid11_15             1732
kid16_17             1732
creditcd             1732
eqpdays                 0
Customer_ID             0
Length: 100, dtype: int64

In [11]:
cat_data = data.select_dtypes(include=['object']).copy()

In [12]:
cat_data.head()

,new_cell,crclscod,asl_flag,prizm_social_one,area,dualband,refurb_new,hnd_webcap,ownrent,dwlltype,...,infobase,HHstatin,dwllsize,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd
0,U,A,N,S,NORTHWEST/ROCKY MOUNTAIN AREA,Y,N,WCMB,O,S,...,M,C,A,N,U,U,U,U,U,Y
1,N,EA,N,U,CHICAGO AREA,N,N,WC,NaN,S,...,M,C,A,Z,U,U,U,U,U,Y
2,Y,C,N,S,GREAT LAKES AREA,N,N,NaN,O,S,...,M,C,A,N,U,Y,U,U,U,Y
3,Y,B,N,T,CHICAGO AREA,N,N,NaN,NaN,M,...,M,C,D,U,Y,U,U,U,U,Y
4,Y,A,N,U,NEW ENGLAND AREA,Y,N,WCMB,R,M,...,M,C,O,I,U,U,U,U,U,Y

In [13]:
print(cat_data.isnull().sum())

new_cell                0
crclscod                0
asl_flag                0
prizm_social_one     7388
area                   40
dualband                1
refurb_new              1
hnd_webcap          10189
ownrent             33706
dwlltype            31909
marital              1732
infobase            22079
HHstatin            37923
dwllsize            38308
ethnic               1732
kid0_2               1732
kid3_5               1732
kid6_10              1732
kid11_15             1732
kid16_17             1732
creditcd             1732
dtype: int64

In [14]:
for col in cat_data.columns:
    data[col] = data[col].fillna(data[col].value_counts().index[0])

In [15]:
print(data.isnull().sum())

rev_Mean            0
mou_Mean            0
totmrc_Mean         0
da_Mean             0
ovrmou_Mean         0
ovrrev_Mean         0
vceovr_Mean         0
datovr_Mean         0
roam_Mean           0
change_mou          0
change_rev          0
drop_vce_Mean       0
drop_dat_Mean       0
blck_vce_Mean       0
blck_dat_Mean       0
unan_vce_Mean       0
unan_dat_Mean       0
plcd_vce_Mean       0
plcd_dat_Mean       0
recv_vce_Mean       0
recv_sms_Mean       0
comp_vce_Mean       0
comp_dat_Mean       0
custcare_Mean       0
ccrndmou_Mean       0
cc_mou_Mean         0
inonemin_Mean       0
threeway_Mean       0
mou_cvce_Mean       0
mou_cdat_Mean       0
                   ..
prizm_social_one    0
area                0
dualband            0
refurb_new          0
hnd_price           0
phones              0
models              0
hnd_webcap          0
truck               0
rv                  0
ownrent             0
lor                 0
dwlltype            0
marital             0
adults              0
infobase            0
income              0
numbcars            0
HHstatin            0
dwllsize            0
forgntvl            0
ethnic              0
kid0_2              0
kid3_5              0
kid6_10             0
kid11_15            0
kid16_17            0
creditcd            0
eqpdays             0
Customer_ID         0
Length: 100, dtype: int64

In [16]:
for col in cat_data.columns:
    labels = data[col].astype('category').cat.categories.tolist()
    replace_map_comp = {col : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
    data.replace(replace_map_comp, inplace=True)

In [17]:
data.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,...,0.0,10,1,1,1,1,1,2,361.0,1000001.0
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,...,0.0,17,1,1,1,1,1,2,240.0,1000002.0
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,...,0.0,10,1,2,1,1,1,2,1504.0,1000003.0
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,...,0.0,15,2,1,1,1,1,2,1812.0,1000004.0
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,...,0.0,7,1,1,1,1,1,2,434.0,1000005.0

In [18]:
print(data.isnull().sum())

rev_Mean            0
mou_Mean            0
totmrc_Mean         0
da_Mean             0
ovrmou_Mean         0
ovrrev_Mean         0
vceovr_Mean         0
datovr_Mean         0
roam_Mean           0
change_mou          0
change_rev          0
drop_vce_Mean       0
drop_dat_Mean       0
blck_vce_Mean       0
blck_dat_Mean       0
unan_vce_Mean       0
unan_dat_Mean       0
plcd_vce_Mean       0
plcd_dat_Mean       0
recv_vce_Mean       0
recv_sms_Mean       0
comp_vce_Mean       0
comp_dat_Mean       0
custcare_Mean       0
ccrndmou_Mean       0
cc_mou_Mean         0
inonemin_Mean       0
threeway_Mean       0
mou_cvce_Mean       0
mou_cdat_Mean       0
                   ..
prizm_social_one    0
area                0
dualband            0
refurb_new          0
hnd_price           0
phones              0
models              0
hnd_webcap          0
truck               0
rv                  0
ownrent             0
lor                 0
dwlltype            0
marital             0
adults              0
infobase            0
income              0
numbcars            0
HHstatin            0
dwllsize            0
forgntvl            0
ethnic              0
kid0_2              0
kid3_5              0
kid6_10             0
kid11_15            0
kid16_17            0
creditcd            0
eqpdays             0
Customer_ID         0
Length: 100, dtype: int64

In [19]:
data.describe()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,1.000000e+05
mean,58.719985,513.559937,46.179136,0.888828,41.072247,13.559560,13.295062,0.261318,1.286405,-13.933818,...,0.057974,10.110500,1.040120,1.046960,1.080730,1.08814,1.099640,1.689660,391.932309,1.050000e+06
std,46.208972,524.229868,23.581283,2.173729,97.122320,30.446392,30.002391,3.120946,14.685090,274.854774,...,0.231663,3.700514,0.196242,0.211554,0.272421,0.28350,0.299521,0.462635,256.480910,2.886766e+04
min,-6.167500,0.000000,-26.915000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3875.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,-5.000000,1.000001e+06
25%,33.311875,151.500000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-86.000000,...,0.000000,7.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,212.000000,1.025001e+06
50%,48.377500,357.500000,44.990000,0.247500,3.000000,1.050000,0.700000,0.000000,0.000000,-7.000000,...,0.000000,10.000000,1.000000,1.000000,1.000000,1.00000,1.000000,2.000000,342.000000,1.050000e+06
75%,70.630000,701.250000,59.990000,0.888828,42.000000,14.350000,13.950000,0.000000,0.257500,61.750000,...,0.000000,14.000000,1.000000,1.000000,1.000000,1.00000,1.000000,2.000000,530.000000,1.075000e+06
max,3843.262500,12206.750000,409.990000,159.390000,4320.750000,1102.400000,896.087500,423.540000,3685.200000,31219.250000,...,1.000000,17.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,1823.000000,1.100000e+06

In [20]:
data.to_csv('Data/Telecom_Manipulated_Data.csv', index = False)